@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}
.menuBar{
  display: none;
}
.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 99;
}
.navContents{
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h1Name{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  transition: 0.3s;
  cursor: pointer;
}
.h1Name:hover{
  color: var(--primary-color-dark);
}
ul{
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}
ul li a{
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
  cursor: pointer;
}
ul li a:hover{
  border-top-color: var(--primary-color-dark);
  border-bottom-color: var(--primary-color-dark);
  color: var(--primary-color);
}