@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

body {
  font-family: "Poppins", sans-serif;
}

.section {
  background-color: var(--extra-light);
}

.sectionContainer {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr; /* Initially, a single column for mobile */
  gap: 2rem;

  @media only screen and (min-width: 768px) {
    /* For tablets and larger devices */
    grid-template-columns: repeat(2, 1fr);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subtitle{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}
.title span{
    font-weight: 600;
}
.description{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}
.actionButtons button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.button1{
    background-color: var(--primary-color);
    color: #ffffff;
}
.button1:hover{
    background-color: var(--primary-color-dark);
}
.button2{
    color: var(--primary-color);
}
.button2:hover{
    background-color: var(--primary-color-dark);
    color: #ffffff;
}
.image{
    display: grid;
    place-items: center;
}
.image img{
    width: min(25rem, 90%);
}